# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/NewsApp/xs/UserPrefs.xml
.vs/NewsApp/xs/sqlite3/db.lock
.vs/NewsApp/xs/sqlite3/storage.ide
src/NewsApp.Droid/obj/NewsApp.Droid.csproj.nuget.cache
src/NewsApp.Droid/obj/NewsApp.Droid.csproj.nuget.g.props
src/NewsApp.Droid/obj/NewsApp.Droid.csproj.nuget.g.targets
src/NewsApp.Droid/obj/project.assets.json
src/NewsApp.Droid/obj/Debug/Component.R.cs.flag
src/NewsApp.Droid/obj/Debug/customview-map.txt
src/NewsApp.Droid/obj/Debug/NewsApp.Droid.csprojAssemblyReference.cache
src/NewsApp.Droid/obj/Debug/R.cs.flag
src/NewsApp.Droid/obj/Debug/res.flag
src/NewsApp.Droid/obj/Debug/designtime/build.props
src/NewsApp.Droid/obj/Debug/designtime/libraryimports.cache
src/NewsApp.Droid/obj/Debug/designtime/libraryimports.cache.stamp
src/NewsApp.Droid/obj/Debug/designtime/libraryprojectimports.cache
src/NewsApp.Droid/obj/Debug/lp/1.stamp
src/NewsApp.Droid/obj/Debug/lp/map.cache
src/NewsApp.Droid/obj/Debug/res/drawable/gradient.jpg
src/NewsApp.Droid/obj/Debug/res/drawable/hamburger.png
src/NewsApp.Droid/obj/Debug/res/drawable/ic_description.png
src/NewsApp.Droid/obj/Debug/res/drawable/ic_hub.png
src/NewsApp.Droid/obj/Debug/res/drawable/launchscreen_icon.png
src/NewsApp.Droid/obj/Debug/res/drawable/userimage.png
src/NewsApp.Droid/obj/Debug/res/layout/splashscreen.xml
src/NewsApp.Droid/obj/Debug/res/layout/tabbar.xml
src/NewsApp.Droid/obj/Debug/res/layout/toolbar.xml
src/NewsApp.Droid/obj/Debug/res/mipmap-hdpi/ic_launcher.png
src/NewsApp.Droid/obj/Debug/res/mipmap-mdpi/ic_launcher.png
src/NewsApp.Droid/obj/Debug/res/mipmap-xhdpi/ic_launcher.png
src/NewsApp.Droid/obj/Debug/res/mipmap-xxhdpi/ic_launcher.png
src/NewsApp.Droid/obj/Debug/res/mipmap-xxxhdpi/ic_launcher.png
src/NewsApp.Droid/obj/Debug/res/values/colors.xml
src/NewsApp.Droid/obj/Debug/res/values/strings.xml
src/NewsApp.Droid/obj/Debug/res/values/styles.xml
src/NewsApp.Droid/obj/Debug/res/values-v19/styles.xml
src/NewsApp.Droid/obj/Debug/stamp/_ResolveLibraryProjectImports.stamp
src/NewsApp.Droid/obj/Mock/Component.R.cs.flag
src/NewsApp.Droid/obj/Mock/customview-map.txt
src/NewsApp.Droid/obj/Mock/NewsApp.Droid.csprojAssemblyReference.cache
src/NewsApp.Droid/obj/Mock/R.cs.flag
src/NewsApp.Droid/obj/Mock/res.flag
src/NewsApp.Droid/obj/Mock/designtime/build.props
src/NewsApp.Droid/obj/Mock/designtime/libraryimports.cache
src/NewsApp.Droid/obj/Mock/designtime/libraryimports.cache.stamp
src/NewsApp.Droid/obj/Mock/designtime/libraryprojectimports.cache
src/NewsApp.Droid/obj/Mock/lp/1.stamp
src/NewsApp.Droid/obj/Mock/lp/map.cache
src/NewsApp.Droid/obj/Mock/res/drawable/gradient.jpg
src/NewsApp.Droid/obj/Mock/res/drawable/hamburger.png
src/NewsApp.Droid/obj/Mock/res/drawable/ic_description.png
src/NewsApp.Droid/obj/Mock/res/drawable/ic_hub.png
src/NewsApp.Droid/obj/Mock/res/drawable/launchscreen_icon.png
src/NewsApp.Droid/obj/Mock/res/drawable/userimage.png
src/NewsApp.Droid/obj/Mock/res/layout/splashscreen.xml
src/NewsApp.Droid/obj/Mock/res/layout/tabbar.xml
src/NewsApp.Droid/obj/Mock/res/layout/toolbar.xml
src/NewsApp.Droid/obj/Mock/res/mipmap-hdpi/ic_launcher.png
src/NewsApp.Droid/obj/Mock/res/mipmap-mdpi/ic_launcher.png
src/NewsApp.Droid/obj/Mock/res/mipmap-xhdpi/ic_launcher.png
src/NewsApp.Droid/obj/Mock/res/mipmap-xxhdpi/ic_launcher.png
src/NewsApp.Droid/obj/Mock/res/mipmap-xxxhdpi/ic_launcher.png
src/NewsApp.Droid/obj/Mock/res/values/colors.xml
src/NewsApp.Droid/obj/Mock/res/values/strings.xml
src/NewsApp.Droid/obj/Mock/res/values/styles.xml
src/NewsApp.Droid/obj/Mock/res/values-v19/styles.xml
src/NewsApp.Droid/obj/Mock/stamp/_ResolveLibraryProjectImports.stamp
src/NewsApp.iOS/bin/iPhoneSimulator/Debug/Prism.dll.mdb
src/NewsApp.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch.stamp
src/NewsApp.iOS/obj/NewsApp.iOS.csproj.nuget.cache
src/NewsApp.iOS/obj/NewsApp.iOS.csproj.nuget.g.props
src/NewsApp.iOS/obj/NewsApp.iOS.csproj.nuget.g.targets
src/NewsApp.iOS/obj/project.assets.json
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/NewsApp.iOS.csproj.CopyComplete
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/NewsApp.iOS.csproj.CoreCompileInputs.cache
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/NewsApp.iOS.csproj.FileListAbsolute.txt
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/NewsApp.iOS.csproj.Fody.CopyLocal.cache
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/NewsApp.iOS.csprojAssemblyReference.cache
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/XamlC.stamp
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-symbols.list
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/response-file.rsp
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/_BundleResourceWithLogicalName.items
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/_PartialAppManifest.items
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/asset-manifest.plist
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/partial-info.plist
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon20x20@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon20x20@2x~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon20x20@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon20x20~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon29x29.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon29x29@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon29x29@2x~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon29x29@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon29x29~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon40x40@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon40x40@2x~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon40x40@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon40x40~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon50x50@2x~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon50x50~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon57x57.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon57x57@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon60x60@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon60x60@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon72x72@2x~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon72x72~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon76x76@2x~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon76x76~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/AppIcon83.5x83.5@2x~ipad.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/bundle/Assets.car
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/Contents.json
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Contents.json
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-Small-50x50@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/actool/cloned-assets/Assets.xcassets/AppIcon.appiconset/Icon-Small-50x50@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/coremlc/_BundleResourceWithLogicalName.items
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/coremlc/_PartialAppManifest.items
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/ibtool/_BundleResourceWithLogicalName.items
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/ibtool-manifests/LaunchScreen.storyboardc
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/ibtool/LaunchScreen.storyboardc/01J-lp-oVM-view-yd7-JS-zBw.nib
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/ibtool/LaunchScreen.storyboardc/Info.plist
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/ibtool/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/arguments
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/assembly-references.txt
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/entry-points.txt
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/linked-assemblies.txt
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/1-Link/OpenTK-1.0.dll.config
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/1-Link/Prism.dll.mdb
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/2-PreBuild/OpenTK-1.0.dll.config
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/2-PreBuild/Prism.dll.mdb
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/3-Build/OpenTK-1.0.dll.config
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/3-Build/Prism.dll.mdb
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/mtouch-cache/x86_64/main.m
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/AppIcon@1x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/AppIcon@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/AppIcon@3x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/hamburger.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/hamburger@2x.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/ic_description.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/ic_hub.png
src/NewsApp.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone11.8-12.2/optimized/userimage.png
src/NewsApp/bin/Debug/netstandard2.0/NewsApp.deps.json
src/NewsApp/obj/NewsApp.csproj.nuget.cache
src/NewsApp/obj/NewsApp.csproj.nuget.g.props
src/NewsApp/obj/NewsApp.csproj.nuget.g.targets
src/NewsApp/obj/project.assets.json
src/NewsApp/obj/Debug/netstandard2.0/App.xaml
src/NewsApp/obj/Debug/netstandard2.0/App.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.AssemblyInfo.cs
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.AssemblyInfoInputs.cache
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.assets.cache
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.csproj.CoreCompileInputs.cache
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.csproj.FileListAbsolute.txt
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.csproj.Fody.CopyLocal.cache
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.csproj.GenerateResource.cache
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.csprojAssemblyReference.cache
src/NewsApp/obj/Debug/netstandard2.0/NewsApp.Resources.AppResources.resources
src/NewsApp/obj/Debug/netstandard2.0/Secrets.cs
src/NewsApp/obj/Debug/netstandard2.0/xamarinlive.meta
src/NewsApp/obj/Debug/netstandard2.0/XamlC.stamp
src/NewsApp/obj/Debug/netstandard2.0/Controls/HeaderContentView.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Controls/NewsCellControl.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/obj/Debug/netstandard2.0/App.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Theming/ColorPalette.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Theming/ElementStyling.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Views/MainPage.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Views/NewsPage.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Views/Page1.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Views/Page2.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Views/SplashScreenPage.xaml.g.cs
src/NewsApp/obj/Debug/netstandard2.0/Views/WebPage.xaml.g.cs
